<VirtualHost *:{{ item.http_port }}>

# Include <REDIRECTOR_DOMAIN>. This is the frontend domain the C2 Implant will send traffic to and points to the Redirector IP.

ServerName {{ item.redirector_domain }}
DocumentRoot /var/www/html/{{ item.redirector_domain }}

# Allow Directory Listing

<Directory /var/www/html>
Options Indexes FollowSymLinks
AllowOverride All
Require all granted
</Directory>

# Allow challenge from letsencrypt

Alias /.well-known/acme-challenge/ /var/www/html/.well-known/acme-challenge/
<Directory "/var/www/html/{{ item.redirector_domain }}/.well-known/acme-challenge/">
        Options None
        AllowOverride None
        Require all granted
</Directory>

<IfModule mod_headers.c>
        Header set Cache-Control "no-store, no-cache, proxy-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "0"
</IfModule>

# Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
# error, crit, alert, emerg.
# It is also possible to configure the loglevel for particular
# modules, e.g.
# LogLevel info ssl:warn

# Set the path for Apache error logs
ErrorLog /var/www/html/{{ item.redirector_domain }}/error.log

# Set the path for Apache access logs and use the 'combined' log format
CustomLog /var/www/html/{{ item.redirector_domain }}/access.log combined

# Reverse Proxy (Redirector) preserves the original "Host" header from the client's request and sends it to the backend server
ProxyPreserveHost On

# Enable or disable the Apache URL rewriting engine
RewriteEngine On

</VirtualHost>