<VirtualHost *:{{ item.http_port }}>

# Include <REDIRECTOR_DOMAIN>. This is the frontend domain the C2 Implant will send traffic to and points to the Redirector IP.

ServerName {{ item.redirector_domain }}
DocumentRoot /var/www/html/{{ item.redirector_domain }}

# https://httpd.apache.org/docs/2.4/mod/core.html#loglevel
# LogLevel alert rewrite:trace6

# Allow Directory Listing

<Directory /var/www/html>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
</Directory>

# Allow challenge from letsencrypt

Alias /.well-known/acme-challenge/ /var/www/html/.well-known/acme-challenge/
<Directory "/var/www/html/{{ item.redirector_domain }}/.well-known/acme-challenge/">
        Options None
        AllowOverride None
        Require all granted
</Directory>

# Custom logging location
ErrorLog /var/www/html/{{ item.redirector_domain }}/logs/error.log
CustomLog /var/www/html/{{ item.redirector_domain }}/logs/access.log combined

# Define directory to hold logs and deny access to it
<Directory /var/www/html/{{ item.redirector_domain }}/logs>
        Order deny,allow
        Deny from all
</Directory>

# Security Headers

<IfModule mod_headers.c>
    Header set Cache-Control "no-store, no-cache, proxy-revalidate"
    Header set Pragma "no-cache"
    Header set Expires "0"
    Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
    Header always set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; object-src 'none'; frame-ancestors 'self'; base-uri 'self'; form-action 'self'"
    Header always set X-XSS-Protection "1; mode=block"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set X-Content-Type-Options "nosniff"
    Header always set Referrer-Policy "strict-origin"
    Header set Content-Type "text/html; charset=utf-8"
</IfModule>

</VirtualHost>